*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}
.promedioContainer{
    margin: 2rem 0;
    display: flex;
    width: 80%;
    height: 40rem;
    background-color: #541690;
}
.promedioContainer__promedio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: black solid 0.5rem;
    background-color: #FF4949;
    height: 100%;
    width: 70%;
}
.promedioContainer__salaries{
    height: 100%;
    width: 30%;
    border: black solid 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.promedio__title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: black solid 0.5rem;
    border-radius: 1rem;
    background-color: #FF8D29;
    text-align: center;
    margin-bottom: 1rem;
}
.promedio__title p{
    font-weight: bold;
    font-size: 3rem;
}
.promedio__description{
    padding: 0 2rem;
    height: max-content;
}
.promedio__description p{
    font-size: 1.5rem;
}
.promedio__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__span{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.form__label2{
    padding: 0 1rem;
    font-size: 1.5rem;
    text-align: center;
}
#button{
    margin-top: 1rem;
}
.promedio__result{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 0.2rem;
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
    background-color:white;
    height: 4rem;
    margin-top: 1rem;
}
.salaries__title{
    font-size: 2.5rem;
    padding: 2rem;
    font-weight: bold;
}
.salaries__result{
    background-color: white;
    height: max-content;
    width: 90%;
    overflow: auto;
}
.salaries__result p{
    font-size: 4rem;
}



.mediaContainer{
    margin: 2rem 0;
    display: flex;
    width: 80%;
    height: 40rem;
    background-color: #541690;
}
.mediaContainer__media{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: black solid 0.5rem;
    background-color: #FF4949;
    height: 100%;
    width: 70%;
}
.mediaContainer__salaries{
    height: 100%;
    width: 30%;
    border: black solid 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.media__title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: black solid 0.5rem;
    border-radius: 1rem;
    background-color: #FF8D29;
    text-align: center;
    margin-bottom: 1rem;
}
.media__title p{
    font-weight: bold;
    font-size: 3rem;
}
.media__description{
    padding: 0 2rem;
    height: max-content;
}
.media__description p{
    font-size: 1.5rem;
}
.media__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mform__span{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.mform__label2{
    padding: 0 1rem;
    font-size: 1.5rem;
    text-align: center;
}
#button{
    margin-top: 1rem;
}
.media__result{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 0.2rem;
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
    background-color:white;
    height: 4rem;
    margin-top: 1rem;
}
.msalaries__title{
    font-size: 2.5rem;
    padding: 2rem;
    font-weight: bold;
}
.msalaries__result{
    background-color: white;
    height: max-content;
    width: 90%;
    overflow: auto;
}
.msalaries__result p{
    font-size: 4rem;
}